<!--<!DOCTYPE html>
<h1>Login</h1>
<form>
	<legend>Login</legend>
	Email:<input type="email" name="">
	Password:<input type="password" name="">
	<input type="submit" value="submit" name="">
</form>-->

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	Welcome <%= name%>
</body>
</html>